@import "src/app/shared/styles/variables";

#game-container {
    height: 84%;
    margin: 2vh 2vw 0;
}

#bottom-panel {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 3vh;
}

#close-btn {
    height: 5%;
    width: 40%;
    margin: auto;
    text-align: center;
    font-family: $primary-font;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $primary-100;
}
#close-btn:hover {
    cursor: pointer;
}
