@import "src/app/shared/styles/variables";

#game-container {
    height: 84%;
    margin: 2vh 2vw 0;
}

#bottom-panel {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 3vh;
}

#return-btn {
    height: 5%;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: $primary-100;
}
#return-btn:hover {
    cursor: pointer;
}
