@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    font-family: "FuturaBlack";
    font-size: 0.9rem;
}

.content-container {
    padding-top: 18vh;
    @include transition(all 0.3s ease-in);

    #intro {
        height: 46vh;
        margin-top: 12vh;

        #author {
            margin-bottom: 2vh;
            // padding-left: 5px;
            // font-family: $primary-font;
            font-size: 3.5rem;
            // letter-spacing: -2px;
            line-height: 3.8rem;
            text-transform: uppercase;
            // transform: scaleY(1.2) skew(-5deg);
            color: transparent;
            -webkit-text-stroke: 1px $primary-100;
            word-spacing: 100vw;
        }

        #author-description {
            height: 5vh;
            width: fit-content;
            font-size: 2rem;
            color: $primary-300;
        }

        p {
            margin: 2vh 0 0 0;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    #about {
        padding: 6vh 0;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
    }
    #about.hidden {
        opacity: 0;
        transform: matrix3d(0.9, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
    }

    #skill-icons {
        display: flex;
        flex-flow: wrap;
        margin-top: 4vh;
        justify-content: center;
        text-align: center;

        .skill {
            width: 75px;

            .icon {
                height: 45px;
                margin-bottom: 1vh;
                filter: grayscale(0.6);
            }

            @media (max-width: 480px) {
                margin: 2vh 0;
            }
        }
        .skill:hover {
            .icon {
                filter: unset;
            }
        }
    }
}

.content-container.emulator-active {
    @include opacity(0.3);
    // @include scale(0.85);
}

#emulator-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $primary-900-translucent;
    z-index: 30;
    @include animation(fadein 0.6s);
}
