@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-container {
    @include transition(all 0.3s ease-in);

    #intro {
        display: inline-block;
        margin-bottom: 24vh;
        text-align: center;

        #author {
            margin-bottom: 2vh;
            font-family: $title-font;
            font-size: 4rem;
            text-shadow: $primary-100 0 0 3px;
            
            @media (max-width: 960px) {
                font-size: 3.5rem;
                line-height: 3.8rem;
            }
            @media (max-width: 280px) {
                font-size: 3.2rem;
            }
        }

        #roles {
            height: 5vh;
            width: fit-content;
            margin: auto;
            font-family: 'Tomorrow', sans-serif;
            font-size: 2rem;
            color: $primary-300;
    
            @media (max-width: 960px) {
                font-size: 2rem;
            }
            @media (max-width: 280px) {
                font-size: 1.6rem;
            }
            @media (max-width: 960px) and (orientation: landscape) {
                height: 11vh;
            }
        }

        #description {
            margin: 2vh 0 0 0;
            padding-top: 1.3em;
            border-top: 1px solid $primary-600-translucent;
            font-size: 1.3rem;

            @media (max-width: 280px) {
                font-size: 1.1rem;
            }
        }
    
        @media (max-width: 960px) {
            display: block;
            width: fit-content;
            margin: 12vh auto;
        }
        @media (max-width: 960px) and (orientation: landscape) {
            margin: 10vh auto 20vh;
        }
    }

    #about {
        display: inline-block;

        .main-section {
            margin-top: 6vh;
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
        }
        .main-section.hidden {
            opacity: 0;
            transform: matrix3d(0.9, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
        }

        #profile-picture, #profile-picture-secondary {
            position: relative;
            float: left;
            width: 27%;
            margin: 1vh 4% 1vh 0;
            border-radius: 8px;
            @include transition(all 0.8s ease-in-out);
        }
        #profile-picture {
            opacity: 1;
            filter: blur(0);
            z-index: 20;
        }
        #profile-picture:hover {
            opacity: 0;
            filter: blur(5px);
            z-index: 10;
        }
        #profile-picture-secondary {
            position: absolute;
            left: 0;
            z-index: 10;
        }
        #profile-picture-secondary:hover {
            z-index: 20;
        }

        #about-description {
            margin: 5vh 0 4vh;
        }
    
        #skills {
            width: 68%;
            margin-left: auto;

            #skill-icons {
                display: flex;
                flex-flow: wrap;
                margin-top: 4vh;
                justify-content: center;
                text-align: center;
        
                .skill {
                    width: 75px;
        
                    .icon {
                        height: 45px;
                        margin-bottom: 1vh;
                        filter: grayscale(0.6);
                    }
        
                    @media (max-width: 960px) {
                        margin: 2vh 0;
                    }
                }
                .skill:hover {
                    .icon {
                        filter: unset;
                    }
                }
            }
        
            @media (max-width: 960px) {
                width: auto;
            }
        }
    
        #interests {
            a {
                font-family: "FuturaBlack";
                font-size: 0.9rem;
            }
        
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    
        @media (max-width: 960px) {
            display: block;
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
    }
    
    @media (max-width: 960px) {
        display: block;
        padding-top: 18vh;
    }
}

.content-container.emulator-active {
    @include opacity(0.3);
    // @include scale(0.85);
}

#emulator-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $background-translucent;
    z-index: 30;
    @include animation(fadein 0.6s);
}
