<app-game-emulator *ngIf="displayEmulator" id="emulator-container"
    (closeEmulatorEvent)="closeEmulator()"></app-game-emulator>

<div class="content-container" [ngClass]="{'emulator-active': displayEmulator}">
    <div ngsReveal id="intro">
        <div id="author">
            {{ environment.author }}
        </div>
        <div *ngIf="eventService.splashScreenAnimationStarted" [appTypingAnimation]="roles" id="author-description">
        </div>
        <p [innerText]="summary"></p>
    </div>

    <div id="about">
        <div class="title">About me</div>
        <p [innerText]="about"></p>
    </div>

    <div ngsReveal class="section">
        <h1>Skills </h1>
        <p [innerText]="skillsDescription"></p>

        <div id="skill-icons">
            <div *ngFor="let skill of skills" class="skill">
                <img src="{{ skill.iconPath }}" class="icon">
                <div class="name">{{ skill.name }}</div>
            </div>
        </div>
    </div>

    <div ngsReveal id="interests" class="section">
        <h1>Interests </h1>
        <p [innerHtml]="interests"></p>
        <p>While you're here, why not play some <a (click)="showEmulator()">TETRIS</a>?</p>
    </div>
</div>
