<app-game-emulator *ngIf="displayEmulator" id="emulator-container"
    (closeEmulatorEvent)="closeEmulator()"></app-game-emulator>

<div class="content-container" [ngClass]="{'emulator-active': displayEmulator}">
    <div ngsReveal *appIfScreenSize="'small'" id="intro">
        <div id="author">
            <!-- {{ environment.author }} -->
            dAn Moulton
        </div>
        <div *ngIf="(stateService.getSplashScreenAnimationFinishedState$ | async)" [appTypingAnimation]="roles"
            id="roles"></div>

        <p [innerText]="summary" id="description"></p>
    </div>

    <div ngsReveal id="about">
        <div #about *appIfScreenSize="'small'" class="main-section">
            <div class="title">About me</div>
            <p [innerText]="aboutDescription"></p>
        </div>

        <ng-container *appIfScreenSize="[ 'medium', 'large']" >
            <div class="title">About me</div>

            <img src="assets/images/profile.jpeg" id="profile-picture">
            <img src="assets/images/profile-glitched.jpeg" id="profile-picture-secondary">

            <p id="about-description" [innerText]="aboutDescription"></p>
        </ng-container>

        <div ngsReveal id="skills" class="sub-section">
            <h2>Skills </h2>
            <p [innerText]="skillsDescription"></p>

            <div id="skill-icons">
                <div *ngFor="let skill of skills" class="skill">
                    <img src="{{ skill.iconPath }}" class="icon">
                    <div class="name">{{ skill.name }}</div>
                </div>
            </div>
        </div>

        <div ngsReveal id="interests" class="sub-section">
            <h2>Interests </h2>
            <p [innerHtml]="interestsDescription"></p>
            <p>While you're here, why not play some <a (click)="showEmulator()">TETRIS</a>?</p>
        </div>
    </div>
</div>
