@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

.content-container {
    #experience {
        padding-bottom: 8vw;
    }

    #jobs {
        border-left: 1px solid $primary-300;
        
        #company-wrapper {
            display: flex;
            align-items: center;

            #company {
                width: -webkit-fill-available;
                padding-left: 1vw;

                p {
                    margin: 0;
                }

                .role {
                    margin: 0;
                    padding: 0;
                }
            }

            .icon {
                height: 40px;
                margin-right: 1.2vh;
                border: 1px solid $primary-300;
                background-color: white;
            }

            &::before {
                content: "";
                width: 4vw;
                border-bottom: 1px solid $primary-300;
            }
        }

        .job {
            margin-bottom: 4vh;
            
            .role {
                border-bottom: 1px solid $neutral-600-transulcent;
                margin-left: 5vw;
                padding: 2vh 0;
        
                .role-name {
                    display: inline-block;
                    margin-bottom: 0.6vh;
                    font-size: 1.1rem;
                }
                .dates {
                    color: $primary-400;
                }

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .single-role-description {
            max-height: 0;
            margin: 0 5vw;
            // margin: 2vh 5vw;
            overflow: hidden;
            font-size: 1rem;
            @include transition(all 0.3s ease-out);
            // display: none;
        }
        .description {
            max-height: 0;
            margin: 0;
            // margin: 2vh 0;
            overflow: hidden;
            font-size: 1rem;
            @include transition(all 0.3s ease-out);
            // display: none;
        }
        .single-role-description.expanded, .description.expanded {
            max-height: 360px;
            @include transition(all 0.3s ease-in);
            
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    }

    .chevron {
        float: right;
        height: 40px;
        width: 40px;
        text-align: center;

        img {
            height: 12px;
            width: 12px;
        }
    }

    #cv {
        height: 22px;
        width: 22px;
    }
    #cv-text {
        display: inline-block;
        margin-left: 1vw;
    }
}
