<div ngsReveal class="content-container">
    <div class="main-section">
        <div class="title">Experience</div>
        <p [innerText]="experienceIntro"></p>
    </div>

    <div ngsReveal id="jobs-container" class="sub-section">
        <!-- MOBILE -->
        <ng-container *appIfScreenSize="'small'">
            <div ngsReveal *ngFor="let company of companies" class="company">
                <div class="company-wrapper">
                    <img src="{{ company.iconPath }}" class="icon">

                    <div class="company-info">
                        <h3>{{ company.name }}</h3>

                        <div *ngIf="company.roles.length === 1" class="role">
                            <div class="role-name">{{ company.roles[0].name }}</div>

                            <div class="chevron" (click)="company.roles[0].expanded = !company.roles[0].expanded">
                                <img src="assets/svgs/arrow-down-icon.svg"
                                    *ngIf="!company.roles[0].expanded; else invertedChevron">
                                <ng-template #invertedChevron>
                                    <img src="assets/svgs/arrow-up-icon.svg">
                                </ng-template>
                            </div>

                            <div class="dates">
                                {{ company.roles[0].fromDate | date: 'MMM yyyy' }} - {{ isDate(company.roles[0].toDate) ? (company.roles[0].toDate | date: 'MMM yyyy') : company.roles[0].toDate }}
                            </div>
                        </div>
                    </div>
                </div>

                <p *ngIf="company.roles.length === 1" [innerHtml]="company.roles[0].description"
                    class="single-role-description" [ngClass]="{'expanded': company.roles[0].expanded}"></p>

                <ng-container *ngIf="company.roles.length > 1">
                    <div *ngFor="let role of company.roles" class="role">
                        <div class="role-name">{{ role.name }}</div>

                        <div class="chevron" (click)="role.expanded = !role.expanded">
                            <img src="assets/svgs/arrow-down-icon.svg" *ngIf="!role.expanded; else invertedChevron">
                            <ng-template #invertedChevron>
                                <img src="assets/svgs/arrow-up-icon.svg">
                            </ng-template>
                        </div>

                        <div class="dates">
                            {{ role.fromDate | date: 'MMM yyyy' }} - {{ isDate(role.toDate) ? (role.toDate | date: 'MMM yyyy') : role.toDate }}
                        </div>

                        <p [innerHtml]="role.description" class="description" [ngClass]="{'expanded': role.expanded}">
                        </p>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- DESKTOP -->
        <div *appIfScreenSize="[ 'medium', 'large']" id="jobs-md-lg">
            <div id="companies">
                <span></span>
                <div *ngFor="let company of companies" class="company"
                    [ngClass]="{'selected-company': selectedCompany == company}" (click)="selectedCompany = company">
                    <img src="{{ company.iconPath }}" class="icon">
                    <h3>{{ company.name }}</h3>
                </div>
            </div>

            <div id="roles">
                <div ngsReveal *ngFor="let role of selectedCompany.roles" class="role">
                    <div class="role-name">{{ role.name }}</div>

                    <div class="dates">
                        {{ role.fromDate | date: 'MMM yyyy' }} - {{ isDate(role.toDate) ? (role.toDate | date: 'MMM yyyy') : role.toDate }}
                    </div>

                    <p [innerHtml]="role.description" class="description"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-section">
        <a href="assets/docs/cv.pdf" target="_blank">
            <img src="assets/svgs/cv-icon.svg" id="cv">
            <div id="cv-text">View CV</div>
        </a>
    </div>
</div>
