<div class="content-container">
    <div ngsReveal class="main-section">
        <div class="title">Experience</div>
        <p [innerText]="experienceIntro"></p>
    </div>

    <div id="jobs" class="sub-section">
        <div ngsReveal *ngFor="let job of jobs" class="job">
            <div id="company-wrapper">
                <img src="{{ job.iconPath }}" class="icon">

                <div id="company">
                    <h3>{{ job.company }}</h3>
    
                    <div *ngIf="job.roles.length === 1" class="role">
                        <div class="role-name">{{ job.roles[0].name }}</div>
        
                        <div class="chevron" (click)="job.roles[0].expanded = !job.roles[0].expanded">
                            <img src="assets/svgs/arrow-down-icon.svg" *ngIf="!job.roles[0].expanded; else invertedChevron">
                            <ng-template #invertedChevron>
                                <img src="assets/svgs/arrow-up-icon.svg">
                            </ng-template>
                        </div>

                        <div class="dates">
                            {{ job.roles[0].fromDate | date: 'MMM yyyy' }} - {{ isDate(job.roles[0].toDate) ? (job.roles[0].toDate | date: 'MMM yyyy') : job.roles[0].toDate }}
                        </div>
                    </div>
                </div>
            </div>

            <p *ngIf="job.roles.length === 1"  [innerHtml]="job.roles[0].description" class="single-role-description" [ngClass]="{'expanded': job.roles[0].expanded}"></p>

            <ng-container *ngIf="job.roles.length > 1">
                <div *ngFor="let role of job.roles" class="role">
                    <div class="role-name">{{ role.name }}</div>

                    <div class="chevron" (click)="role.expanded = !role.expanded">
                        <img src="assets/svgs/arrow-down-icon.svg" *ngIf="!role.expanded; else invertedChevron">
                        <ng-template #invertedChevron>
                            <img src="assets/svgs/arrow-up-icon.svg">
                        </ng-template>
                    </div>

                    <div class="dates">
                        {{ role.fromDate | date: 'MMM yyyy' }} - {{ isDate(role.toDate) ? (role.toDate | date: 'MMM yyyy') : role.toDate }}
                    </div>

                    <p [innerHtml]="role.description" class="description" [ngClass]="{'expanded': role.expanded}"></p>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="sub-section">
        <a href="assets/docs/cv.pdf" target="_blank">
            <img src="assets/svgs/cv-icon.svg" id="cv">
            <div id="cv-text">View CV</div>
        </a>
    </div>
</div>
