@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

.content-container {
    align-items: flex-start;
    flex-direction: column;
    margin: auto;

    #jobs-container {
        #jobs-md-lg {
            display: flex;

            #companies {
                display: inline-block;
                width: 27%;

                .company {
                    display: flex;
                    position: relative;
                    align-items: center;
                    margin: 0;
                    padding: 1.5vh 0;
                    left: 2px;
                    border-right: 3px solid transparent;
                    cursor: pointer;
                    @include transition(all 0.3s ease-in-out);

                    h3 {
                        padding-right: 1vw;
                    }
                    h3:hover {
                        font-weight: bold;
                        text-shadow: $primary-300 0 0 10px;
                    }
                }
                .selected-company {
                    border-right: 3px solid $primary-600;

                    h3 {
                        font-weight: bold;
                        text-shadow: $primary-300 0 0 10px;
                    }
                }
            }

            #roles {
                display: inline-block;
                height: 36vh;
                width: 73%;
                padding-left: 2vw;
                border-left: 1px solid $primary-600-translucent;
            }
        }

        .company-wrapper {
            display: flex;
            align-items: center;

            .company-info {
                width: -webkit-fill-available;
                padding-left: 1vw;

                p {
                    margin: 0;
                }

                .role {
                    margin: 0;
                    padding: 0;
                }
            }

            @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
                &::before {
                    content: "";
                    width: 4vw;
                    border-bottom: 1px solid $primary-300;
                }
            }
        }

        .company {
            margin-bottom: 4vh;

            .icon {
                height: 40px;
                margin-right: 1.2vh;
                border: 1px solid $primary-300;
                background-color: white;
            }

            &:last-child {
                margin-bottom: 0;
            }

            @media only screen and (max-width: 844px) and (orientation: landscape) {
                margin-bottom: 8vh;
            }
        }

        .single-role-description {
            max-height: 0;
            margin: 0 5vw;
            overflow: hidden;
            font-size: 1.1rem;
            @include transition(all 0.3s ease-out);

            @media only screen and (max-width: 844px) and (orientation: landscape) {
                margin: 0 3vw;
            }
        }
        .description {
            margin: 1.5vh 0 0 0;
            font-size: 1.1rem;

            @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
                margin: 0;
                max-height: 0;
                overflow: hidden;
                font-size: 1rem;
                @include transition(all 0.3s ease-out);
            }
        }
        .single-role-description.expanded,
        .description.expanded {
            max-height: 360px;
            margin-top: 2vh;
            margin-bottom: 1vh;
            @include transition(all 0.3s ease-in);
        }

        .role {
            border-bottom: 1px solid $neutral-600-transulcent;
            padding: 2vh 0;

            .role-name {
                display: inline-block;
                margin-bottom: 0.6vh;
                font-size: 1.4rem;

                @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
                    font-size: 1.2rem;
                }
            }

            .dates {
                color: $primary-400;
                font-size: 1.1rem;

                @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
                    font-size: 0.9rem;
                }
            }

            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border: none;
                padding-bottom: 0;
            }

            @media only screen and (max-width: 768px) and (orientation: portrait) {
                margin-left: 5vw;
            }

            @media only screen and (max-width: 844px) and (orientation: landscape) {
                margin-left: 3vw;
                padding: 4vh 0;
            }
        }

        @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
            border-left: 1px solid $primary-300;
        }
    }

    .chevron {
        float: right;
        height: 40px;
        width: 40px;
        text-align: center;
        cursor: pointer;

        img {
            height: 12px;
            width: 12px;
        }
    }

    #cv {
        height: 22px;
        width: 22px;
    }
    #cv-text {
        display: inline-block;
        margin-left: 1vw;
    }

    @media only screen and (max-width: 768px) and (orientation: portrait) {
        width: auto;
    }
}
