@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

:host {
    z-index: 60;
    max-width: inherit;
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 96%;
    max-width: inherit;
    padding: 1vh 2%;
    left: 50%;
    transform: translate(-50%, 0);

    #brand-logo {
        height: 130px;
        width: 160px;
        opacity: 1;
        @include transition(all 0.3s ease-in);
    }
    #brand-logo.hidden {
        opacity: 0;
    }

    #nav {
        margin-left: auto;

        .route-active {
            text-decoration: underline;
        }
        .route-active:hover {
            font-weight: normal;
            text-shadow: none;
        }

        a {
            display: inline-flex;
            align-items: center;
            height: 3vh;
            padding: 0 1vw;
            border-right: 1px solid $neutral-600-transulcent;
            font-family: $title-font;
            font-size: 1.2rem;
            color: transparent;
            -webkit-text-stroke: 1px $primary-100-translucent;

            &:last-child {
                border-right: none;
            }
        }
        a:hover {
            font-weight: bold;
            text-shadow: $primary-300 0 0 10px;
        }
    }
}
