@import "src/app/shared/styles/variables";

:host {
    z-index: 60;
    max-width: inherit;
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: inherit;
    padding: 1vh 0;

    #brand-logo {
        height: 130px;
        width: 160px;
    }

    #nav {
        margin-left: auto;

        .route-active {
            font-weight: bold;
        }
        .route-active:hover {
            text-shadow: none;
        }

        a {
            padding: 0 1vw;
            border-right: 1px solid $neutral-600-transulcent;
            font-size: 1.2rem;

            &:last-child {
                border-right: none;
            }
        }
        a:hover {
            text-shadow: $primary-300 0 0 3px;
        }
    }
}
