.content-container {
    #contact {
        padding-bottom: 8vw;

        #methods {
            margin-top: 5vh;

            .method {
                display: flex;
                margin: 2vh 1vw;
                vertical-align: middle;

                .contact-icon {
                    height: 20px;
                    width: 20px;
                }

                .description {
                    display: inline-block;
                    margin: 0 2vw;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
