@import "src/app/shared/styles/variables";

#background {
    position: fixed;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient($background, $background-secondary);
}

#particles-js {
    position: fixed;
    height: 100vh;
    filter: blur(1px);
    z-index: 30;
}

#shader-layer {
    position: fixed;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(90deg, transparent, transparent 3px, #0000003d 5px, #0000003d 4px),
        repeating-linear-gradient(0deg, transparent, transparent 3px, #0000003d 5px, #0000003d 3px);
    z-index: 100;
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1800px;
    margin: auto;
}
