<div id="background"></div>
<div id="particles-js"></div>
<div id="shader-layer"></div>

<app-splash-screen *ngIf="splashScreenActive" (animationEndEvent)="splashScreenAnimationEnd()"></app-splash-screen>

<div id="container">
    <!-- MOBILE -->
    <app-nav *appIfScreenSize="'small'">
        <router-outlet></router-outlet>
    </app-nav>

    <!-- DESKTOP -->
    <ng-container *appIfScreenSize="[ 'medium', 'large']">
        <!-- HEADER -->
        <app-header></app-header>

        <!-- CONTENT -->
        <div [@routeAnimations]="getRouteAnimationData(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>

        <!-- FOOTER -->
        <app-footer></app-footer>
    </ng-container>
</div>
