///// Fonts /////
@font-face {
    font-family: Exo2;
    src: url("/assets/fonts/Exo2.ttf") format("truetype");
}

@font-face {
    font-family: FuturaBlack;
    src: url("/assets/fonts/FuturaBlack.ttf") format("truetype");
}
