///// Colors /////
$background: #1e2425;
$background-secondary: #000000;

$background-translucent: #0e1114f5;

$primary-100: #b1e2da;
$primary-300: #6fb9ad;
$primary-400: #95bba2;
$primary-600: #6a948d;
$primary-900: #0f100f;

$primary-600-translucent: #6a948d4d;
$primary-900-translucent: #0f100ff0;

$neutral-100: #dadada;
$neutral-200: #b0b0b0;
$neutral-300: #a9a9a9;
$neutral-600: #5b5b5b;
$neutral-900: #171717;

$neutral-100-translucent: #dadada05;
$neutral-600-transulcent: #5b5b5b91;

///// Fonts /////
$primary-font: Exo2;
