@import "app/shared/styles/fonts";
@import "app/shared/styles/variables";

///// Global styles /////
html,
body {
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-size: 0.9rem;
    color: $neutral-100 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    background-color: $background-secondary;
}

a {
    color: $primary-100;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

ul {
    margin-bottom: 0;
    list-style-type: square;

    li {
        padding-bottom: 10px;
        
        &:last-child {
            padding-bottom: 0;
        }
    }
}

h1 {
    display: flex;
    flex-direction: row;
    margin: 0;
    // font-family: $primary-font;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    // transform: scaleY(1.1) skew(-5deg);
    color: $primary-600;
    white-space: pre;
}

h3 {
    margin: 0;
    font-family: $primary-font;
    text-transform: uppercase;
}

.footer {
    margin-top: auto;
}

.title {
    padding-left: 2px;
    // font-family: $primary-font;
    font-size: 1.8rem;
    letter-spacing: -2px;
    color: $primary-600;
    text-transform: uppercase;
    // transform: scaleY(1.2) skew(-5deg);
    border-bottom: 1px solid $primary-600-translucent;
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
}

.content-container {
    position: relative;
    padding: 20vh 6vw 6vh;
    z-index: 20;
}

.main-section {
    margin-bottom: 8vh;
}
    
.sub-section {
    position: relative;
    margin-bottom: 6vh;

    h1::after {
        content: "";
        flex: 1 1;
        margin: auto;
        padding-top: 5px;
        border-bottom: 1px solid $primary-600-translucent;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

///// Rules for content to display correctly in landscape mode on devices with notches /////
@supports (padding: max(0px)) {
    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
