@import "app/shared/styles/fonts";
@import "app/shared/styles/variables";

///// Global styles /////
html,
body {
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $body-font;
    font-size: 0.9rem;
    color: $neutral-100 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    background-color: $background-secondary;
}

a {
    color: $primary-100;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    
    @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
        font-size: 1.1rem;
    }
}

ul {
    margin-bottom: 0;
    list-style-type: square;

    li {
        padding-bottom: 8px;
        
        &:last-child {
            padding-bottom: 0;
        }
    }
}

h2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: $title-font;
    font-size: 1.4rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px $primary-100-translucent;
    white-space: pre;
    
    @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
        font-size: 1.3rem;
    }
}

h3 {
    margin: 0;
    font-family: $title-font;
    font-size: 1rem;
    font-weight: normal;
    color: transparent;
    -webkit-text-stroke: 1px $primary-100-translucent;
    line-height: 1.5rem;
    text-transform: lowercase;
    
    @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
        font-size: 1.1rem;
    }
}

.footer {
    margin-top: auto;
    text-align: center;
}

.title {
    padding-left: 2px;
    font-family: $title-font;
    font-size: 2.2rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #b1e2dae3;
    border-bottom: 1px solid $primary-600-translucent;
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
    
    @media only screen and (max-width: 768px) and (orientation: portrait) {
        font-size: 1.7rem;
    }

    @media only screen and (max-width: 844px) and (orientation: landscape) {
        font-size: 1.5rem;
    }
}

.content-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 55%;
    margin: auto;
    z-index: 20;

    @media only screen and (max-width: 768px) and (orientation: portrait) {
        height: auto;
        width: auto;
        padding: 23vh 6vw 6vh;
    }

    @media only screen and (max-width: 844px) and (orientation: landscape) {
        height: auto;
        width: 55%;
        padding: 23vh 6vw 6vh;
    }
}

.main-section {
    margin-bottom: 6vh;

    @media only screen and (max-width: 768px) and (orientation: portrait) {
        margin-bottom: 8vh;
    }

    @media only screen and (max-width: 844px) and (orientation: landscape) {
        margin-bottom: 12vh;
    }
}
    
.sub-section {
    position: relative;
    margin-bottom: 3vh;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;

        @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
            margin-bottom: 6vh;
        }
    }

    @media only screen and (max-width: 768px) and (orientation: portrait), (max-width: 844px) and (orientation: landscape) {
        margin-bottom: 6vh;

        h2::after {
            content: "";
            flex: 1 1;
            margin: auto;
            padding-top: 5px;
            border-bottom: 1px solid $primary-600-translucent;
        }
    }

    @media only screen and (max-width: 844px) and (orientation: landscape) {
        margin-bottom: 10vh;
    }
}

///// Rules for content to display correctly in landscape mode on devices with notches /////
@supports (padding: max(0px)) {
    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
