<div id="container" [ngClass]="{'menu': eventService.navOpen}">
    <div id="blur"></div>
    <img src="assets/svg/brand-logo.svg" id="brand-logo">
    <div id="menu-btn" (click)="toggleNav()"></div>

    <div id="nav-container">
        <div id="nav">
            <ul>
                <li *ngFor="let route of routes">
                    <a [routerLink]="route.path" routerLinkActive="route-active" (click)="hideNav()">
                        {{ route.title }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer">
            <div id="social">
                <a href="{{environment.githubUrl}}" target="_blank">
                    <img src="assets/svg/github-logo-white.svg" class="social-logo">
                </a>
                <a href="{{environment.linkedInUrl}}" target="_blank">
                    <img src="assets/svg/linkedin-logo.svg" class="social-logo">
                </a>
            </div>

            <p id="copyright">&#169;2023 {{environment.author}}. All rights reserved.</p>
        </div>
    </div>

    <!-- CONTENT -->
    <div id="content-container">
        <ng-content></ng-content>
    </div>
</div>
