@import "src/app/shared/styles/variables";

:host {
    height: inherit;
    width: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -khtml-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin scale($params) {
    -webkit-transform: scale($params);
    -moz-transform: scale($params);
    -khtml-transform: scale($params);
    -o-transform: scale($params);
    transform: scale($params);
}

@mixin rotate($params) {
    -webkit-transform: rotate($params);
    -moz-transform: rotate($params);
    -khtml-transform: rotate($params);
    -o-transform: rotate($params);
    transform: rotate($params);
}

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    -o-opacity: $opacity;
    opacity: $opacity;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -khtml-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

#container {
    height: 100%;
    width: 100%;
    background: black;
}

#container.menu {
    #content {
        @include opacity(0.3);
        @include scale(0.85);
    }
}

#menu-btn {
    position: absolute;
    height: 22px;
    width: 25px;
    top: 3vh;
    left: 7vw;
    z-index: 40;
    border-top: 2px solid $brand-green;
    box-sizing: border-box;
    cursor: pointer;
    @include transition(all 0.3s ease-in);

    @media (orientation: landscape) {
        top: 8vh;
        left: 5vw;
    }

    &:before {
        position: absolute;
        height: 2px;
        width: 25px;
        top: 8px;
        background: $brand-green;
        content: "";
        @include transition(all 0.3s ease-in);
    }
    &:after {
        position: absolute;
        height: 2px;
        width: 25px;
        bottom: 0;
        background: $brand-green;
        content: "";
        @include transition(all 0.3s ease-in);
    }
}

.menu {
    #menu-btn {
        border-color: transparent;

        &:before {
            width: 25px;
            left: -2px;
            @include rotate(45deg);
        }
        &:after {
            width: 25px;
            left: -2px;
            bottom: 11px;
            @include rotate(135deg);
        }
    }

    #nav-container {
        @include box-shadow(inset 0px 0px 5px 2px $translucent-brand-green);
        z-index: 30;
        opacity: 1;
        overflow: scroll;

        li {
            width: 100%;
            margin-left: 0 !important;
            font-size: 1.4rem;
            font-weight: 300;

            @media (orientation: landscape) {
                margin-top: 2vh;
            }
        }
    }
}

#nav-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: $translucent-dark-green;
    overflow: hidden;
    opacity: 0;
    @include transition(z-index 0.3s step-end);
    @include transition(all 0.3s ease-in);

    #nav {
        padding: 20vh 10vw 0 10vw;

        @media (orientation: landscape) {
            padding: 28vh 8vw 0 8vw;
        }
    }

    #social {
        text-align: center;

        .social-logo {
            height: 24px;
            width: 24px;
            margin: 2vh 3vw;

            @media (orientation: landscape) {
                margin: 2vh 2vw;
            }
        }
    }

    #copyright {
        text-align: center;
        font-size: 0.8rem;
        color: $dark-grey;
    }

    ul {
        color: inherit;
        list-style-type: none;

        li {
            height: 7vh;
            width: 0;
            @include transition(all 0.4s ease-in);

            & + li {
                margin-left: -40px;

                & + li {
                    margin-left: -80px;

                    & + li {
                        margin-left: -120px;
                    }
                }
            }
        }
    }
}

.brand-logo {
    display: block;
    position: absolute;
    height: 100px;
    width: 115px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 3vh;
    z-index: 50;
}

#content-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: black;

    #content {
        padding: 20vh 10vw 0 10vw;
        @include transition(all 0.3s ease-in);

        @media (orientation: landscape) {
            padding: 40vh 8vw 0 8vw;
        }
    }
}
