@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";

:host {
    height: inherit;
    width: inherit;
}

#container {
    height: 100%;
    width: 100%;
}
#container.menu {
    #content {
        @include opacity(0.3);
        // @include scale(0.85);
    }
}

#menu-btn {
    position: fixed;
    height: 22px;
    width: 25px;
    top: 3vh;
    right: 4vw;
    z-index: 60;
    border-top: 2px solid $primary-300;
    box-sizing: border-box;
    cursor: pointer;
    @include transition(all 0.3s ease-in);

    @media (orientation: landscape) {
        top: 8vh;
        right: 5vw;
    }

    &::before {
        position: absolute;
        height: 2px;
        width: 25px;
        top: 8px;
        background: $primary-300;
        content: "";
        @include transition(all 0.3s ease-in);
    }
    &::after {
        position: absolute;
        height: 2px;
        width: 25px;
        bottom: 0;
        background: $primary-300;
        content: "";
        @include transition(all 0.3s ease-in);
    }
}

.menu {
    #brand-logo {
        opacity: 1 !important;
    }

    #menu-btn {
        border-color: transparent;

        &::before {
            width: 25px;
            left: -2px;
            @include rotate(45deg);
        }
        &::after {
            width: 25px;
            left: -2px;
            bottom: 10px;
            @include rotate(135deg);
        }
    }

    #nav-container {
        opacity: 1;
        z-index: 40;
        @include box-shadow(inset 0px 0px 5px 2px $primary-600-translucent);
    }
}

#nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: -webkit-fill-available;
    width: 100vw;
    background-color: $background-translucent;
    z-index: 10;
    overflow: scroll;
    opacity: 0;
    @include transition(z-index 0.3s step-end);
    @include transition(all 0.3s ease-in);

    #nav {
        padding: 20vh 10vw 0 10vw;

        @media (orientation: landscape) {
            padding: 16vh 8vw 14vh 8vw;
        }
    }

    #social {
        text-align: center;

        #stack-overflow-logo {
            height: 30px;
            width: 30px;
            margin: 7px;
        }

        .social-logo {
            height: 24px;
            width: 24px;
            margin: 10px;
        }
    }

    #copyright {
        margin-top: 0;
        padding-bottom: 2vh;
        text-align: center;
        font-size: 0.8rem;
        color: $neutral-600;
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            text-align: center;
            // font-family: $primary-font;
            font-size: 1.4rem;
            line-height: 4rem;
            text-transform: uppercase;
            // transform: scaleY(1.2) skew(-5deg);

            a {
                color: transparent;
                -webkit-text-stroke: 1px $primary-100;
            }

            @media (orientation: landscape) {
                height: 10vh;
                line-height: 6rem;
            }
        }
    }
}

#blur {
    position: fixed;
    height: 110px;
    width: 100%;
    visibility: hidden;
    backdrop-filter: blur(50px);
    z-index: 30;
}

#brand-logo {
    display: block;
    position: fixed;
    height: 100px;
    width: 115px;
    margin: 0 auto;
    top: 0.5vh;
    left: 3vw;
    z-index: 50;
    @include transition(all 0.3s ease-in);

    @media (orientation: landscape) {
        top: 2vh;
        left: 4vw;
    }
}

#content {
    position: absolute;
    z-index: 20;
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh;
    width: 100%;
    @include transition(all 0.3s ease-in);

    @media (orientation: landscape) {
        padding: 18vh 4vw 0 4vw;
    }
}
